@charset "UTF-8";
html,
body,
div,
span,
header,
footer,
nav,
article,
section,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
dl,
dt,
dd,
img,
figure,
figcaption,
b,
strong,
del,
sub,
sup,
time,
mark,
address,
table,
caption,
thead,
tbody,
tfoot,
tr,
th,
td,
form,
label,
fieldset,
legend,
input,
textarea,
select,
button,
iframe,
canvas,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
}

body {
  line-height: 1;
}

header,
footer,
nav,
article,
section,
aside,
figure,
figcaption {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: normal;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

th,
td {
  word-break: break-all;
}

input,
select,
button {
  vertical-align: middle;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  min-width: 100%;
}

@media screen and (max-width: 1%) {
  html {
    min-width: 320px;
  }
}

body {
  background: #fff;
}

@media screen and (max-width: 1%) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}

body.preload * {
  transition: none !important;
}

body,
input,
select,
button,
textarea {
  color: #4c4c4c;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
}

p {
  text-align: justify;
}

img {
  font-size: 0;
  height: auto;
  max-width: 100%;
}

a {
  color: #00c8ea;
  transition: all .25s ease-out;
}

@media screen and (min-width: 100%) {
  a:hover {
    color: #009aea;
  }
}

@media screen and (min-width: 100%) {
  a[href*="tel:"] {
    color: #4c4c4c;
    pointer-events: none;
  }
}

@media screen and (max-width: 1%) {
  a[href*="tel:"] {
    pointer-events: auto;
  }
}

table {
  width: 100%;
}

@media screen and (max-width: 1%) {
  input[type="submit"] {
    border-radius: 0;
    -webkit-appearance: none;
  }
  input[type="button"] {
    border-radius: 0;
    -webkit-appearance: none;
  }
}

@media screen and (max-width: 1%) {
  iframe {
    height: auto;
    width: 100%;
  }
}

input,
select,
textarea {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .3);
  padding: 8px;
}

input:disabled,
select:disabled,
textarea:disabled {
  background: #ddd;
}

input,
textarea {
  width: 100%;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #999;
}

input::placeholder,
textarea::placeholder {
  color: #999;
}

textarea {
  resize: vertical;
}

select {
  cursor: pointer;
}

input[type="file"] {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
}

input[type="radio"] {
  cursor: pointer;
  display: none;
}

input[type="radio"] + label {
  cursor: pointer;
  display: inline-block;
  margin: 8px 32px 8px 0;
  padding-left: 2.2em;
  position: relative;
}

input[type="radio"] + label:last-of-type {
  margin-right: 0;
}

input[type="radio"] + label::before {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 999em;
  bottom: 0;
  content: '';
  display: block;
  height: 1.5em;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 1.5em;
}

input[type="radio"]:checked + label::after {
  background: #4c4c4c;
  border-radius: 999em;
  bottom: 0;
  content: '';
  display: block;
  height: .9em;
  left: 5px;
  margin: auto;
  position: absolute;
  top: 0;
  width: .9em;
}

input[type="checkbox"] {
  cursor: pointer;
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  display: inline-block;
  margin: 8px 32px 8px 0;
  padding-left: 2.2em;
  position: relative;
}

input[type="checkbox"] + label:last-of-type {
  margin-right: 0;
}

input[type="checkbox"] + label::before {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 4px;
  bottom: 0;
  content: "";
  height: 1.3em;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 1.3em;
}

input[type="checkbox"]:checked + label::after {
  border: 3px solid #4c4c4c;
  border-left: none;
  border-top: none;
  bottom: 0;
  content: "";
  height: .8em;
  left: .4em;
  margin: auto;
  position: absolute;
  top: -.2em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: .5em;
}

input[type="submit"] {
  background: none;
  border: none;
  cursor: pointer;
  padding: .3em 1em;
  width: auto;
}

input[type="submit"]:hover {
  background: linear-gradient(120deg, #00c8ea 0%, #00c8ea 40%);
  color: #fff;
}

@media screen and (max-width: 1%) {
  input[type='submit'] {
    padding: .6em 1em;
  }
  input[type="file"] {
    font-size: 12px;
  }
}

@media screen and (min-width: 100%) {
  .is-pc-none {
    display: none !important;
  }
}

.l-2-00-t--all {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-2-00-t--all > * {
  margin-top: 0;
}

.l-2-00-t--all > *:nth-child(1) {
  margin-top: 0;
}

.l-2-00-t--all > *:nth-child(2) {
  margin-top: 0;
}

.l-2-00-t--all > *:nth-child(1n) {
  margin-right: 0;
  width: 50%;
}

.l-2-00-t--all > *:nth-child(2n) {
  margin-right: 0;
  text-align: right;
}

.l-2-00-m--all {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-2-00-m--all > * {
  margin-top: 0;
}

.l-2-00-m--all > *:nth-child(1) {
  margin-top: 0;
}

.l-2-00-m--all > *:nth-child(2) {
  margin-top: 0;
}

.l-2-00-m--all > *:nth-child(1n) {
  margin-right: 0;
  width: 50%;
}

.l-2-00-m--all > *:nth-child(2n) {
  margin-right: 0;
  text-align: right;
}

.l-2-10-t--all {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-2-10-t--all > * {
  margin-top: 0;
}

.l-2-10-t--all > *:nth-child(1) {
  margin-top: 0;
}

.l-2-10-t--all > *:nth-child(2) {
  margin-top: 0;
}

.l-2-10-t--all > *:nth-child(1n) {
  margin-right: 2%;
  width: 49%;
}

.l-2-10-t--all > *:nth-child(2n) {
  margin-right: 0;
  text-align: right;
}

.l-2-10-m--all {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-2-10-m--all > * {
  margin-top: 0;
}

.l-2-10-m--all > *:nth-child(1) {
  margin-top: 0;
}

.l-2-10-m--all > *:nth-child(2) {
  margin-top: 0;
}

.l-2-10-m--all > *:nth-child(1n) {
  margin-right: 2%;
  width: 49%;
}

.l-2-10-m--all > *:nth-child(2n) {
  margin-right: 0;
  text-align: right;
}

.l-2-11-t--all {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-2-11-t--all > * {
  margin-top: 2%;
}

.l-2-11-t--all > *:nth-child(1) {
  margin-top: 0;
}

.l-2-11-t--all > *:nth-child(2) {
  margin-top: 0;
}

.l-2-11-t--all > *:nth-child(1n) {
  margin-right: 2%;
  width: 49%;
}

.l-2-11-t--all > *:nth-child(2n) {
  margin-right: 0;
  text-align: right;
}

.l-2-11-m--all {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-2-11-m--all > * {
  margin-top: 2%;
}

.l-2-11-m--all > *:nth-child(1) {
  margin-top: 0;
}

.l-2-11-m--all > *:nth-child(2) {
  margin-top: 0;
}

.l-2-11-m--all > *:nth-child(1n) {
  margin-right: 2%;
  width: 49%;
}

.l-2-11-m--all > *:nth-child(2n) {
  margin-right: 0;
  text-align: right;
}

.l-2-20-t--all {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-2-20-t--all > * {
  margin-top: 0;
}

.l-2-20-t--all > *:nth-child(1) {
  margin-top: 0;
}

.l-2-20-t--all > *:nth-child(2) {
  margin-top: 0;
}

.l-2-20-t--all > *:nth-child(1n) {
  margin-right: 4%;
  width: 48%;
}

.l-2-20-t--all > *:nth-child(2n) {
  margin-right: 0;
  text-align: right;
}

.l-2-20-m--all {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-2-20-m--all > * {
  margin-top: 0;
}

.l-2-20-m--all > *:nth-child(1) {
  margin-top: 0;
}

.l-2-20-m--all > *:nth-child(2) {
  margin-top: 0;
}

.l-2-20-m--all > *:nth-child(1n) {
  margin-right: 4%;
  width: 48%;
}

.l-2-20-m--all > *:nth-child(2n) {
  margin-right: 0;
  text-align: right;
}

.l-2-30-t--all {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-2-30-t--all > * {
  margin-top: 0;
}

.l-2-30-t--all > *:nth-child(1) {
  margin-top: 0;
}

.l-2-30-t--all > *:nth-child(2) {
  margin-top: 0;
}

.l-2-30-t--all > *:nth-child(1n) {
  margin-right: 6%;
  width: 47%;
}

.l-2-30-t--all > *:nth-child(2n) {
  margin-right: 0;
  text-align: right;
}

.l-2-30-m--all {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-2-30-m--all > * {
  margin-top: 0;
}

.l-2-30-m--all > *:nth-child(1) {
  margin-top: 0;
}

.l-2-30-m--all > *:nth-child(2) {
  margin-top: 0;
}

.l-2-30-m--all > *:nth-child(1n) {
  margin-right: 6%;
  width: 47%;
}

.l-2-30-m--all > *:nth-child(2n) {
  margin-right: 0;
  text-align: right;
}

.l-3-00-t--all {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-3-00-t--all > * {
  margin-top: 0;
}

.l-3-00-t--all > *:nth-child(1) {
  margin-top: 0;
}

.l-3-00-t--all > *:nth-child(2) {
  margin-top: 0;
}

.l-3-00-t--all > *:nth-child(3) {
  margin-top: 0;
}

.l-3-00-t--all > *:nth-child(1n) {
  margin-right: 0;
  width: 33.33333%;
}

.l-3-00-t--all > *:nth-child(3n-1) {
  text-align: center;
}

.l-3-00-t--all > *:nth-child(3n) {
  margin-right: 0;
  text-align: right;
}

.l-3-00-m--all {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-3-00-m--all > * {
  margin-top: 0;
}

.l-3-00-m--all > *:nth-child(1) {
  margin-top: 0;
}

.l-3-00-m--all > *:nth-child(2) {
  margin-top: 0;
}

.l-3-00-m--all > *:nth-child(3) {
  margin-top: 0;
}

.l-3-00-m--all > *:nth-child(1n) {
  margin-right: 0;
  width: 33.33333%;
}

.l-3-00-m--all > *:nth-child(3n-1) {
  text-align: center;
}

.l-3-00-m--all > *:nth-child(3n) {
  margin-right: 0;
  text-align: right;
}

.l-3-10-t--all {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-3-10-t--all > * {
  margin-top: 0;
}

.l-3-10-t--all > *:nth-child(1) {
  margin-top: 0;
}

.l-3-10-t--all > *:nth-child(2) {
  margin-top: 0;
}

.l-3-10-t--all > *:nth-child(3) {
  margin-top: 0;
}

.l-3-10-t--all > *:nth-child(1n) {
  margin-right: 2%;
  width: 32%;
}

.l-3-10-t--all > *:nth-child(3n-1) {
  text-align: center;
}

.l-3-10-t--all > *:nth-child(3n) {
  margin-right: 0;
  text-align: right;
}

.l-3-10-m--all {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-3-10-m--all > * {
  margin-top: 0;
}

.l-3-10-m--all > *:nth-child(1) {
  margin-top: 0;
}

.l-3-10-m--all > *:nth-child(2) {
  margin-top: 0;
}

.l-3-10-m--all > *:nth-child(3) {
  margin-top: 0;
}

.l-3-10-m--all > *:nth-child(1n) {
  margin-right: 2%;
  width: 32%;
}

.l-3-10-m--all > *:nth-child(3n-1) {
  text-align: center;
}

.l-3-10-m--all > *:nth-child(3n) {
  margin-right: 0;
  text-align: right;
}

.l-3-11-t--all {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-3-11-t--all > * {
  margin-top: 2%;
}

.l-3-11-t--all > *:nth-child(1) {
  margin-top: 0;
}

.l-3-11-t--all > *:nth-child(2) {
  margin-top: 0;
}

.l-3-11-t--all > *:nth-child(3) {
  margin-top: 0;
}

.l-3-11-t--all > *:nth-child(1n) {
  margin-right: 2%;
  width: 32%;
}

.l-3-11-t--all > *:nth-child(3n-1) {
  text-align: center;
}

.l-3-11-t--all > *:nth-child(3n) {
  margin-right: 0;
  text-align: right;
}

.l-3-11-m--all {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-3-11-m--all > * {
  margin-top: 2%;
}

.l-3-11-m--all > *:nth-child(1) {
  margin-top: 0;
}

.l-3-11-m--all > *:nth-child(2) {
  margin-top: 0;
}

.l-3-11-m--all > *:nth-child(3) {
  margin-top: 0;
}

.l-3-11-m--all > *:nth-child(1n) {
  margin-right: 2%;
  width: 32%;
}

.l-3-11-m--all > *:nth-child(3n-1) {
  text-align: center;
}

.l-3-11-m--all > *:nth-child(3n) {
  margin-right: 0;
  text-align: right;
}

.l-3-20-t--all {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-3-20-t--all > * {
  margin-top: 0;
}

.l-3-20-t--all > *:nth-child(1) {
  margin-top: 0;
}

.l-3-20-t--all > *:nth-child(2) {
  margin-top: 0;
}

.l-3-20-t--all > *:nth-child(3) {
  margin-top: 0;
}

.l-3-20-t--all > *:nth-child(1n) {
  margin-right: 4%;
  width: 30.66667%;
}

.l-3-20-t--all > *:nth-child(3n-1) {
  text-align: center;
}

.l-3-20-t--all > *:nth-child(3n) {
  margin-right: 0;
  text-align: right;
}

.l-3-20-m--all {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-3-20-m--all > * {
  margin-top: 0;
}

.l-3-20-m--all > *:nth-child(1) {
  margin-top: 0;
}

.l-3-20-m--all > *:nth-child(2) {
  margin-top: 0;
}

.l-3-20-m--all > *:nth-child(3) {
  margin-top: 0;
}

.l-3-20-m--all > *:nth-child(1n) {
  margin-right: 4%;
  width: 30.66667%;
}

.l-3-20-m--all > *:nth-child(3n-1) {
  text-align: center;
}

.l-3-20-m--all > *:nth-child(3n) {
  margin-right: 0;
  text-align: right;
}

.l-3-30-t--all {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-3-30-t--all > * {
  margin-top: 0;
}

.l-3-30-t--all > *:nth-child(1) {
  margin-top: 0;
}

.l-3-30-t--all > *:nth-child(2) {
  margin-top: 0;
}

.l-3-30-t--all > *:nth-child(3) {
  margin-top: 0;
}

.l-3-30-t--all > *:nth-child(1n) {
  margin-right: 6%;
  width: 29.33333%;
}

.l-3-30-t--all > *:nth-child(3n-1) {
  text-align: center;
}

.l-3-30-t--all > *:nth-child(3n) {
  margin-right: 0;
  text-align: right;
}

.l-3-30-m--all {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-3-30-m--all > * {
  margin-top: 0;
}

.l-3-30-m--all > *:nth-child(1) {
  margin-top: 0;
}

.l-3-30-m--all > *:nth-child(2) {
  margin-top: 0;
}

.l-3-30-m--all > *:nth-child(3) {
  margin-top: 0;
}

.l-3-30-m--all > *:nth-child(1n) {
  margin-right: 6%;
  width: 29.33333%;
}

.l-3-30-m--all > *:nth-child(3n-1) {
  text-align: center;
}

.l-3-30-m--all > *:nth-child(3n) {
  margin-right: 0;
  text-align: right;
}

.l-4-00-t--all {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-4-00-t--all > * {
  margin-top: 0;
}

.l-4-00-t--all > *:nth-child(1) {
  margin-top: 0;
}

.l-4-00-t--all > *:nth-child(2) {
  margin-top: 0;
}

.l-4-00-t--all > *:nth-child(3) {
  margin-top: 0;
}

.l-4-00-t--all > *:nth-child(4) {
  margin-top: 0;
}

.l-4-00-t--all > *:nth-child(1n) {
  margin-right: 0;
  width: 25%;
}

.l-4-00-t--all > *:nth-child(4n-2) {
  text-align: center;
}

.l-4-00-t--all > *:nth-child(4n-1) {
  text-align: center;
}

.l-4-00-t--all > *:nth-child(4n) {
  margin-right: 0;
  text-align: right;
}

.l-4-00-m--all {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-4-00-m--all > * {
  margin-top: 0;
}

.l-4-00-m--all > *:nth-child(1) {
  margin-top: 0;
}

.l-4-00-m--all > *:nth-child(2) {
  margin-top: 0;
}

.l-4-00-m--all > *:nth-child(3) {
  margin-top: 0;
}

.l-4-00-m--all > *:nth-child(4) {
  margin-top: 0;
}

.l-4-00-m--all > *:nth-child(1n) {
  margin-right: 0;
  width: 25%;
}

.l-4-00-m--all > *:nth-child(4n-2) {
  text-align: center;
}

.l-4-00-m--all > *:nth-child(4n-1) {
  text-align: center;
}

.l-4-00-m--all > *:nth-child(4n) {
  margin-right: 0;
  text-align: right;
}

.l-4-10-t--all {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-4-10-t--all > * {
  margin-top: 0;
}

.l-4-10-t--all > *:nth-child(1) {
  margin-top: 0;
}

.l-4-10-t--all > *:nth-child(2) {
  margin-top: 0;
}

.l-4-10-t--all > *:nth-child(3) {
  margin-top: 0;
}

.l-4-10-t--all > *:nth-child(4) {
  margin-top: 0;
}

.l-4-10-t--all > *:nth-child(1n) {
  margin-right: 2%;
  width: 23.5%;
}

.l-4-10-t--all > *:nth-child(4n-2) {
  text-align: center;
}

.l-4-10-t--all > *:nth-child(4n-1) {
  text-align: center;
}

.l-4-10-t--all > *:nth-child(4n) {
  margin-right: 0;
  text-align: right;
}

.l-4-10-m--all {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-4-10-m--all > * {
  margin-top: 0;
}

.l-4-10-m--all > *:nth-child(1) {
  margin-top: 0;
}

.l-4-10-m--all > *:nth-child(2) {
  margin-top: 0;
}

.l-4-10-m--all > *:nth-child(3) {
  margin-top: 0;
}

.l-4-10-m--all > *:nth-child(4) {
  margin-top: 0;
}

.l-4-10-m--all > *:nth-child(1n) {
  margin-right: 2%;
  width: 23.5%;
}

.l-4-10-m--all > *:nth-child(4n-2) {
  text-align: center;
}

.l-4-10-m--all > *:nth-child(4n-1) {
  text-align: center;
}

.l-4-10-m--all > *:nth-child(4n) {
  margin-right: 0;
  text-align: right;
}

.l-4-11-t--all {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-4-11-t--all > * {
  margin-top: 2%;
}

.l-4-11-t--all > *:nth-child(1) {
  margin-top: 0;
}

.l-4-11-t--all > *:nth-child(2) {
  margin-top: 0;
}

.l-4-11-t--all > *:nth-child(3) {
  margin-top: 0;
}

.l-4-11-t--all > *:nth-child(4) {
  margin-top: 0;
}

.l-4-11-t--all > *:nth-child(1n) {
  margin-right: 2%;
  width: 23.5%;
}

.l-4-11-t--all > *:nth-child(4n-2) {
  text-align: center;
}

.l-4-11-t--all > *:nth-child(4n-1) {
  text-align: center;
}

.l-4-11-t--all > *:nth-child(4n) {
  margin-right: 0;
  text-align: right;
}

.l-4-11-m--all {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-4-11-m--all > * {
  margin-top: 2%;
}

.l-4-11-m--all > *:nth-child(1) {
  margin-top: 0;
}

.l-4-11-m--all > *:nth-child(2) {
  margin-top: 0;
}

.l-4-11-m--all > *:nth-child(3) {
  margin-top: 0;
}

.l-4-11-m--all > *:nth-child(4) {
  margin-top: 0;
}

.l-4-11-m--all > *:nth-child(1n) {
  margin-right: 2%;
  width: 23.5%;
}

.l-4-11-m--all > *:nth-child(4n-2) {
  text-align: center;
}

.l-4-11-m--all > *:nth-child(4n-1) {
  text-align: center;
}

.l-4-11-m--all > *:nth-child(4n) {
  margin-right: 0;
  text-align: right;
}

.l-4-20-t--all {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-4-20-t--all > * {
  margin-top: 0;
}

.l-4-20-t--all > *:nth-child(1) {
  margin-top: 0;
}

.l-4-20-t--all > *:nth-child(2) {
  margin-top: 0;
}

.l-4-20-t--all > *:nth-child(3) {
  margin-top: 0;
}

.l-4-20-t--all > *:nth-child(4) {
  margin-top: 0;
}

.l-4-20-t--all > *:nth-child(1n) {
  margin-right: 4%;
  width: 22%;
}

.l-4-20-t--all > *:nth-child(4n-2) {
  text-align: center;
}

.l-4-20-t--all > *:nth-child(4n-1) {
  text-align: center;
}

.l-4-20-t--all > *:nth-child(4n) {
  margin-right: 0;
  text-align: right;
}

.l-4-20-m--all {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-4-20-m--all > * {
  margin-top: 0;
}

.l-4-20-m--all > *:nth-child(1) {
  margin-top: 0;
}

.l-4-20-m--all > *:nth-child(2) {
  margin-top: 0;
}

.l-4-20-m--all > *:nth-child(3) {
  margin-top: 0;
}

.l-4-20-m--all > *:nth-child(4) {
  margin-top: 0;
}

.l-4-20-m--all > *:nth-child(1n) {
  margin-right: 4%;
  width: 22%;
}

.l-4-20-m--all > *:nth-child(4n-2) {
  text-align: center;
}

.l-4-20-m--all > *:nth-child(4n-1) {
  text-align: center;
}

.l-4-20-m--all > *:nth-child(4n) {
  margin-right: 0;
  text-align: right;
}

.l-4-30-t--all {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-4-30-t--all > * {
  margin-top: 0;
}

.l-4-30-t--all > *:nth-child(1) {
  margin-top: 0;
}

.l-4-30-t--all > *:nth-child(2) {
  margin-top: 0;
}

.l-4-30-t--all > *:nth-child(3) {
  margin-top: 0;
}

.l-4-30-t--all > *:nth-child(4) {
  margin-top: 0;
}

.l-4-30-t--all > *:nth-child(1n) {
  margin-right: 6%;
  width: 20.5%;
}

.l-4-30-t--all > *:nth-child(4n-2) {
  text-align: center;
}

.l-4-30-t--all > *:nth-child(4n-1) {
  text-align: center;
}

.l-4-30-t--all > *:nth-child(4n) {
  margin-right: 0;
  text-align: right;
}

.l-4-30-m--all {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.l-4-30-m--all > * {
  margin-top: 0;
}

.l-4-30-m--all > *:nth-child(1) {
  margin-top: 0;
}

.l-4-30-m--all > *:nth-child(2) {
  margin-top: 0;
}

.l-4-30-m--all > *:nth-child(3) {
  margin-top: 0;
}

.l-4-30-m--all > *:nth-child(4) {
  margin-top: 0;
}

.l-4-30-m--all > *:nth-child(1n) {
  margin-right: 6%;
  width: 20.5%;
}

.l-4-30-m--all > *:nth-child(4n-2) {
  text-align: center;
}

.l-4-30-m--all > *:nth-child(4n-1) {
  text-align: center;
}

.l-4-30-m--all > *:nth-child(4n) {
  margin-right: 0;
  text-align: right;
}

input,
select,
textarea {
  border-radius: 8px;
  width: 100%;
}

.wrapper {
  display: flex;
  width: 100%;
}

.menu {
  background: #fefefe;
  color: #4c4c4c;
  height: 100vh;
  overflow: auto;
  width: 240px;
}

.menu::-webkit-scrollbar {
  width: 8px;
}

.menu::-webkit-scrollbar-track {
  border: none;
}

.menu::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .1);
  border-radius: 999em;
}

.menu > nav > ul {
  border-top: 1px #f5f5f5 solid;
}

.menu > nav > ul > li > a {
  border-bottom: 1px #f5f5f5 solid;
  color: #4c4c4c;
  display: inline-block;
  font-size: 18px;
  padding: 24px 28px;
  position: relative;
  width: 100%;
}

.menu > nav > ul > li > a:hover {
  background-color: #f5f5f5;
}

.menu > nav > ul > li > a:hover::before {
  background: #fcb900;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.menu > nav > ul > li > a.is-current {
  background-color: #f5f5f5;
}

.menu > nav > ul > li > a.is-current::before {
  background: #fcb900;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.logo {
  padding: 36px 24px;
  text-align: center;
  width: 100%;
}

.content {
  background: #ebf2fa;
  color: #4c4c4c;
  flex: 1;
  height: 100vh;
  overflow: auto;
  position: relative;
}

.login {
  align-items: center;
  background: #fefefe;
  color: #4c4c4c;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

.login__inner {
  padding: 64px 32px;
  width: 480px;
}

.login__inner > div:not(:first-child) {
  margin-top: 40px;
}

.login__inner > div > img {
  margin-bottom: 20px;
  width: 80%;
}

.login__inner > div > input {
  font-size: 18px;
  padding: 9.6px;
}

.login__inner > div > a {
  color: #4c4c4c;
}

.header {
  background: #fafbfb;
  padding: 8px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

.header > nav > ul {
  display: flex;
  justify-content: flex-end;
}

.header > nav > ul > li {
  margin-left: 1.5em;
}

.header > nav > ul > li > a {
  font-size: 16px;
}

.dashboard {
  overflow: auto;
  padding: 2%;
}

.dashboard > *:not(:first-child) {
  margin-top: 1.25rem;
}

.dashboard h1 {
  font-size: 32px;
  margin-bottom: 4%;
}

.dashboard h1:last-child {
  margin-bottom: 0;
}

.dashboard h2 {
  font-size: 24px;
  margin-top: 4% !important;
}

.dashboard h2:last-child {
  margin-bottom: 0;
}

.dashboard h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 4% !important;
}

.dashboard h3:last-child {
  margin-bottom: 0;
}

.dashboard a.arrow::after {
  content: ' ▶';
}

.dashboard input:disabled {
  background-color: #ebf2fa;
}

.dashboard table {
  line-height: 1.4;
  width: 100%;
}

.dashboard table tr .is-wrap {
  white-space: normal;
}

.dashboard table tr .is-discard {
  color: #e50011;
}

.dashboard table tr:hover td {
  background: #ffc;
}

.dashboard table tr:first-child td {
  border-top: none;
}

.dashboard table th {
  border-bottom: 1px #333 solid;
  font-weight: normal;
  padding: 8px 12px;
  vertical-align: bottom;
  white-space: nowrap;
}

.dashboard table td {
  background: #fff;
  border-top: 1px #ddd solid;
  padding: 8px 12px;
  vertical-align: middle;
  white-space: nowrap;
}

.dashboard table td img {
  max-width: 80px;
}

.dashboard table input[type="checkbox"] + label {
  margin-bottom: 4px;
  margin-top: 4px;
}

.dashboard .is-left {
  text-align: left;
}

.dashboard .is-center {
  text-align: center;
}

.dashboard .is-right {
  text-align: right;
}

.dashboard .is-error {
  border-color: red;
}

.dashboard .is-ninja input[type="text"] {
  border: none;
  border-radius: 0;
}

.dashboard .is-ninja input[type="number"] {
  border: none;
  border-radius: 0;
}

.dashboard .is-ninja input[type="date"] {
  border: none;
  border-radius: 0;
}

.dashboard .is-ninja td {
  border: 1px #ddd solid;
  border-top: none;
  padding: 0;
}

.dashboard .errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}

.button--primary {
  background-color: #2b5b9f;
  border: 1px #2b5b9f solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 8px 9.6px 6px;
  transition: all .25s ease-out;
}

.button--primary + * {
  margin-left: 8px;
}

.button--primary:hover {
  background-color: #3d77ca;
  border-color: #3d77ca;
  color: #fff;
}

.button--primary--plus {
  background-color: #2b5b9f;
  border: 1px #2b5b9f solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 8px 9.6px 6px;
  padding-left: 8px;
  padding-right: 8px;
  transition: all .25s ease-out;
}

.button--primary--plus + * {
  margin-left: 8px;
}

.button--primary--plus:hover {
  background-color: #3d77ca;
  border-color: #3d77ca;
  color: #fff;
}

.button--delete {
  background-color: #e50011;
  border: 1px #e50011 solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 8px 9.6px 6px;
  transition: all .25s ease-out;
}

.button--delete + * {
  margin-left: 8px;
}

.button--delete:hover {
  background-color: #ff2334;
  border-color: #ff2334;
  color: #fff;
}

.button--delete--minus {
  background-color: #e50011;
  border: 1px #e50011 solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 8px 9.6px 6px;
  padding-left: 8px;
  padding-right: 8px;
  transition: all .25s ease-out;
}

.button--delete--minus + * {
  margin-left: 8px;
}

.button--delete--minus:hover {
  background-color: #ff2334;
  border-color: #ff2334;
  color: #fff;
}

.button--other {
  background-color: #fcb900;
  border: 1px #fcb900 solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 8px 9.6px 6px;
  transition: all .25s ease-out;
}

.button--other + * {
  margin-left: 8px;
}

.button--other:hover {
  background-color: #ffcb3a;
  border-color: #ffcb3a;
  color: #fff;
}

.button--other--favorite {
  background-color: #fcb900;
  border: 1px #fcb900 solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 8px 9.6px 6px;
  padding-left: 8px;
  padding-right: 8px;
  transition: all .25s ease-out;
}

.button--other--favorite + * {
  margin-left: 8px;
}

.button--other--favorite:hover {
  background-color: #ffcb3a;
  border-color: #ffcb3a;
  color: #fff;
}

.button--cancel {
  background-color: #898989;
  border: 1px #898989 solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 8px 9.6px 6px;
  transition: all .25s ease-out;
}

.button--cancel + * {
  margin-left: 8px;
}

.button--cancel:hover {
  background-color: #a8a8a8;
  border-color: #a8a8a8;
  color: #fff;
}

.button--ghost {
  border: 1px #ccc solid;
  border-radius: 4px;
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 8px 9.6px 6px;
}

.button--ghost + * {
  margin-left: 8px;
}

.button--ghost--favorite {
  border: 1px #ccc solid;
  border-radius: 4px;
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 8px 9.6px 6px;
  padding-left: 8px;
  padding-right: 8px;
}

.button--ghost--favorite + * {
  margin-left: 8px;
}

.button--oval--primary {
  background-color: #2b5b9f;
  border: 1px #2b5b9f solid;
  border-radius: 999em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 14px 32px 10px;
  transition: all .25s ease-out;
}

.button--oval--primary + * {
  margin-left: 1.5em;
}

.button--oval--primary:hover {
  background-color: #3d77ca;
  border-color: #3d77ca;
  color: #fff;
}

.button--oval--delete {
  background-color: #e50011;
  border: 1px #e50011 solid;
  border-radius: 999em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 14px 32px 10px;
  transition: all .25s ease-out;
}

.button--oval--delete + * {
  margin-left: 1.5em;
}

.button--oval--delete:hover {
  background-color: #ff2334;
  border-color: #ff2334;
  color: #fff;
}

.button--oval--cancel {
  background-color: #898989;
  border: 1px #898989 solid;
  border-radius: 999em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 14px 32px 10px;
  transition: all .25s ease-out;
}

.button--oval--cancel + * {
  margin-left: 1.5em;
}

.button--oval--cancel:hover {
  background-color: #a8a8a8;
  border-color: #a8a8a8;
  color: #fff;
}

.button--oval--other {
  background-color: #fcb900;
  border: 1px #fcb900 solid;
  border-radius: 999em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 14px 32px 10px;
  transition: all .25s ease-out;
}

.button--oval--other + * {
  margin-left: 1.5em;
}

.button--oval--other:hover {
  background-color: #ffcb3a;
  border-color: #ffcb3a;
  color: #fff;
}

.date {
  font-size: 24px;
  margin: 0 12px 0 0;
  position: relative;
  top: 3px;
}

.modal {
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.modal.show {
  display: block;
}

.modal-backdrop {
  background: rgba(0, 0, 0, .5);
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}

.modal__dialog {
  align-items: center;
  display: flex;
  height: 100%;
  margin: auto;
  width: 512px;
}

.modal__content {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: -20%;
  opacity: 0;
  overflow: hidden;
  transition: all .3s ease-out;
  width: 100%;
}

.modal__content.show {
  margin-top: 0;
  opacity: 1;
}

.modal__content__header {
  background: #ccc;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
}

.modal__content__header button {
  cursor: pointer;
  height: 48px;
  position: relative;
  width: 48px;
}

.modal__content__header button::before {
  background: #898989;
  content: '';
  display: block;
  height: 36px;
  left: 23px;
  position: absolute;
  top: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 2px;
}

.modal__content__header button::after {
  background: #898989;
  content: '';
  display: block;
  height: 36px;
  position: absolute;
  right: 23px;
  top: 6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 2px;
}

.modal__content__body {
  font-size: 21px;
  line-height: 1.6;
  padding: 16px;
  text-align: center;
}

.modal__content__body input:first-child {
  margin-bottom: 8px;
}

.modal__content__body input:last-child {
  margin-top: 8px;
}

.modal__content__footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 32px;
}

.l-mt0 {
  margin-top: 0 !important;
}

.l-mr0 {
  margin-right: 0 !important;
}

.l-mb0 {
  margin-bottom: 0 !important;
}

.l-ml0 {
  margin-left: 0 !important;
}

.l-w0 {
  width: 0 !important;
}

.l-mt1 {
  margin-top: 1% !important;
}

.l-mr1 {
  margin-right: 1% !important;
}

.l-mb1 {
  margin-bottom: 1% !important;
}

.l-ml1 {
  margin-left: 1% !important;
}

.l-w1 {
  width: 10% !important;
}

.l-mt2 {
  margin-top: 2% !important;
}

.l-mr2 {
  margin-right: 2% !important;
}

.l-mb2 {
  margin-bottom: 2% !important;
}

.l-ml2 {
  margin-left: 2% !important;
}

.l-w2 {
  width: 20% !important;
}

.l-mt3 {
  margin-top: 3% !important;
}

.l-mr3 {
  margin-right: 3% !important;
}

.l-mb3 {
  margin-bottom: 3% !important;
}

.l-ml3 {
  margin-left: 3% !important;
}

.l-w3 {
  width: 30% !important;
}

.l-mt4 {
  margin-top: 4% !important;
}

.l-mr4 {
  margin-right: 4% !important;
}

.l-mb4 {
  margin-bottom: 4% !important;
}

.l-ml4 {
  margin-left: 4% !important;
}

.l-w4 {
  width: 40% !important;
}

.l-mt5 {
  margin-top: 5% !important;
}

.l-mr5 {
  margin-right: 5% !important;
}

.l-mb5 {
  margin-bottom: 5% !important;
}

.l-ml5 {
  margin-left: 5% !important;
}

.l-w5 {
  width: 50% !important;
}

.l-mt6 {
  margin-top: 6% !important;
}

.l-mr6 {
  margin-right: 6% !important;
}

.l-mb6 {
  margin-bottom: 6% !important;
}

.l-ml6 {
  margin-left: 6% !important;
}

.l-w6 {
  width: 60% !important;
}

.l-mt7 {
  margin-top: 7% !important;
}

.l-mr7 {
  margin-right: 7% !important;
}

.l-mb7 {
  margin-bottom: 7% !important;
}

.l-ml7 {
  margin-left: 7% !important;
}

.l-w7 {
  width: 70% !important;
}

.l-mt8 {
  margin-top: 8% !important;
}

.l-mr8 {
  margin-right: 8% !important;
}

.l-mb8 {
  margin-bottom: 8% !important;
}

.l-ml8 {
  margin-left: 8% !important;
}

.l-w8 {
  width: 80% !important;
}

.l-mt9 {
  margin-top: 9% !important;
}

.l-mr9 {
  margin-right: 9% !important;
}

.l-mb9 {
  margin-bottom: 9% !important;
}

.l-ml9 {
  margin-left: 9% !important;
}

.l-w9 {
  width: 90% !important;
}

.l-mt10 {
  margin-top: 10% !important;
}

.l-mr10 {
  margin-right: 10% !important;
}

.l-mb10 {
  margin-bottom: 10% !important;
}

.l-ml10 {
  margin-left: 10% !important;
}

.l-w10 {
  width: 100% !important;
}
